.title{
    /* Characters */
    position: relative;
    margin-left: 29.57%;
    margin-right:8.3%;
    top: 0px;

    font-family:monospace;
    font-style: italic;
    font-weight: 800;
    font-size: 385%;
    line-height: 100%;
    /* or 50px */

    display: block;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;

    color: #FFFF00;

    border: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    text-shadow: -4px 2px #FC0706;
}

.resultsDiv{
    position: absolute;
    width: auto;
    height: auto;
    margin-left: 29.57%;
    margin-right: 8.3%;

    /*width: 61.56%;*/

    background: #0C0C0C;
    border-radius: 26px;
}

.searchInput{
    position:relative;
    width: 77.28%;
    height: 35px;
    margin-left:10.93%;
    margin-top: 37px;
    margin-bottom: 54px;

    background: linear-gradient(180deg, #FFFEFE 0%, #7E7D7D 100%);
    border: 2px solid #5F0000;
    box-sizing: border-box;
    border-radius: 100px;

    font-family:sans-serif;
    text-indent:20px;
    font-size:15px;
}
    
.contentCard{
    display:inline-table;
    height: 300px;
    width: 140px;
    margin-left: 4em;
}

.contentCard img{
    width: 100%;
    height: 160px;
    border-radius: 54px;

    cursor: pointer;
}

.contentCard p{
    width: 100%;
    height: auto;
    margin-bottom:1px;
    
    font-family:fantasy;
    font-weight:lighter;
    font-size: 25px;
    
    display: auto;
    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
.maps {
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
}      

@media(max-width:1366px){
    .contentCard{
        display:inline-table;
        height: 300px;
        width: 140px;
        margin-left:3.25em;
    }
    
    .contentCard img{
        width: 100%;
        height: 160px;
        border-radius: 54px;
    
        cursor: pointer;
    }
    
    .contentCard p{
        width: 100%;
        height: auto;
        margin-bottom:1px;
        
        font-family:fantasy;
        font-weight:lighter;
        font-size: 25px;
        
        display: auto;
        text-align: center;
        text-transform: capitalize;
    
        color: #FFFFFF;
    }
}

@media(max-width:768px){
    .contentCard{
        display:inline-table;
        height: 300px;
        width: 140px;
        margin-left:12.8%;
    }
    
    .contentCard img{
        width: 100%;
        height: 160px;
        border-radius: 54px;
    
        cursor: pointer;
    }
    
    .contentCard p{
        width: 100%;
        height: auto;
        margin-bottom:1px;
        
        font-family:fantasy;
        font-weight:lighter;
        font-size: 25px;
        
        display: auto;
        text-align: center;
        text-transform: capitalize;
    
        color: #FFFFFF;
    }
}