.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.7);
}
.ctnModal {
  width: 50%;
  height: auto;
  max-height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
  background: white;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.ctnModal p{
    margin: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;

    border-width: 10px;
    border-color: black;
}

.maps {
  position: relative;
  height: 500px;
  margin: 0 5% 2% 5%;
  padding: 10;
  border-radius: 20px;
}      
